.userslist{
    display: grid;
    grid-template-columns: repeat(4,230px);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    /* min-width:1000px */

    
}

@media (max-width:1330px){
    .userslist{
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;  
}
}

@media (max-width:1150px){
    .userslist{
  
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 30px;  
}

}

@media (max-width:930px){
    .userslist{
  
    grid-template-columns:  1fr 1fr ;
    column-gap: 50px;  
}

}

@media (max-width:760px){
    .userslist{
  
    grid-template-columns:  1fr 1fr ;
    column-gap: 30px;  
}

}

@media (max-width:560px){
    .userslist{
    grid-template-columns:  1fr 
}

}