.container{
padding: 0 14%;
  padding-top:60px;
    margin: 0 auto;
  
}

h1{
    margin-bottom: 30px;
}

.loading{
    width:100%;
    height:70vh;
display: flex;
align-items: center;
justify-content: space-around;
}

.loading h2{

font-weight: 700;
}

@media (max-width:1330px){
  .container{  
    padding:0 10%;
  padding-top:60px;

}

}
@media (max-width:930px){
  .container{
    padding: 0 14%;
    padding-top:60px;
}
}

@media (max-width:640px){
  .container{
    padding: 0 8%;
    padding-top:60px;

}

}

@media (max-width:560px){
  .container{
    
   padding: 0 20%;
    padding-top:60px;

}

}
@media (max-width:430px){
  .container{
    padding: 0 15%;
    padding-top:60px;
   
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}

}