.home{
    display: grid;
    grid-template-columns: 200px 4fr;
    column-gap: 50px;
    background-color: rgb(238, 238, 238);
    width:100vw;
    position:relative;
    height: 100vh;
    overflow-y: hidden;
    
}

@media (max-width:1330px){
  .home{
   
       column-gap: 30px;

}

}

@media (max-width:820px){
  .home{
display: block;
padding-left: 40px;
    overflow-y: scroll;

}

}



