.footer{
    position: sticky;
    bottom:10px;
        display: flex;
        justify-content: space-between;
    right:30px;
}


.footer p{
    /* width: max-content; */
   color:#1D9BF0;
  background-color:   #1d9cf030;
  border-color:  #1D9BF0;
  width: 150px;
  padding: 20px ;
 cursor: pointer;
 outline: none;
 border-radius: 10px;
 z-index: 20;

}