.footer{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    /* bottom:-20px; */
    margin-top: 60px;
    margin-bottom: 40px;
    color:#8692A6;
    /* width:86.5% */

}